<div id="<%= dom_id property %>">
  <p>
    <strong>Sort:</strong>
    <%= property.sort %>
  </p>

  <p>
    <strong>Operation:</strong>
    <%= property.operation %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= property.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= property.price %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= link_to property.image.filename, property.image if property.image.attached? %>
  </p>

  <p>
    <strong>User:</strong>
    <%= property.user_id %>
  </p>

</div>
